main .upcoming-movies {
  background-image: url('../../assets/upcoming-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 120px 0;
}

main .upcoming-movies .movies-container {
  width: 86%;
  margin: 0 auto;
}

/* @media (max-width: 1400px) {
  main .upcoming-movies .movies-container {
    width: 96%;
  }
} */

/* @media (max-width: 378px) {
  main .upcoming-movies .movies-container {
    width: 90%;
  }
} */

main .upcoming-movies h2 {
  color: var(--yellow);
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  width: fit-content;
}

@media (max-width: 992px) {
  main .upcoming-movies h2 {
    margin: 0 auto;
    margin-bottom: 8px;
  }
}

main .upcoming-movies .filters-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  main .upcoming-movies .filters-container {
    flex-direction: column;
    gap: 20px;
  }
}

main .upcoming-movies .filters-container h3 {
  color: var(--white);
  font-size: 34px;
}

main .upcoming-movies .filters-container .filters {
  display: flex;
  gap: 10px;
}

main .upcoming-movies .filters-container .filters button {
  color: #dadada;
  font-size: 12px;
  font-weight: bold;
  background-color: #21232b;
  border: solid 2px #2e303e;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 12px 30px;
  user-select: none;
  cursor: pointer;
}

main .upcoming-movies .filters-container .filters button.active {
  border-color: var(--yellow);
}