@import "../../Sass/mixins";

header {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 40px 0;
  @include prefix(transition, all .5s);
  z-index: 4;
}

header.active {
  position: fixed;
  background-color: #171d21;
  padding: 20px 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}