@import "../../Sass/_mixins.scss";

.links {
  z-index: 1005;
}

@media (max-width: 1200px) {
  .links {
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #171d21;
    height: 100vh;
    padding: 20px;
    box-shadow: 38px 0px 61px 11px #00000091;
    @include prefix(transition, right .7s);

    &.active {
      right: 0;
    }
  }
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 26px;
}

.logoContainer i {
  color: #fff;
  font-size: 26px;
  user-select: none;
  cursor: pointer;
  position: relative;
  top: 1px;
  @include prefix(transition, color .3s);

  &:hover {
    color: var(--yellow);
  }
}

.links ul {
  display: flex;
  gap: 20px;
}

@media (max-width: 1200px) {
  .links ul {
    flex-direction: column;
    gap: 0;
  }
}

.links ul li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  @include prefix(transition, color .3s);

  &:hover {
    color: var(--yellow);
  }
}

@media (max-width: 1200px) {
  .links ul li a {
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    width: 100%;
    position: relative;
  }

  .links ul li a::before,
  .links ul li:last-child a::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: calc(100% + 20px * 2);
    border-top: solid 1px #393939;
  }

  .links ul li:last-child a::after {
    top: auto;
    bottom: 0;
  }
}

nav .socialMedia {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  margin: 24px auto;
}

nav .socialMedia i {
  color: var(--white);
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  @include prefix(transition, color .3s);

  &:hover {
    color: var(--yellow);
  }
}