@media (max-width: 1200px) {
  header .links {
    position: fixed;
    top: 0;
    right: -300px;
    background-color: #171d21;
    height: 100vh;
    padding: 20px;
    box-shadow: 38px 0px 61px 11px #00000091;
    z-index: 3;
    transition: right 0.7s;
    -webkit-transition: right 0.7s;
    -moz-transition: right 0.7s;
    -ms-transition: right 0.7s;
    -o-transition: right 0.7s;
}

  header .links.active {
    right: 0;
  }
}

header .links .logo-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 26px;
}

header .links .logo-container i {
  color: #fff;
  font-size: 26px;
  user-select: none;
  cursor: pointer;
  position: relative;
  top: 1px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

header .links .logo-container i:hover {
  color: var(--yellow);
}

header .links ul {
  display: flex;
  gap: 20px;
}

@media (max-width: 1200px) {
  header .links ul {
    flex-direction: column;
    gap: 0;
  }
}

header .links ul li a {
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 10px;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

@media (max-width: 1200px) {
  header .links ul li a {
    display: inline-block;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    width: 100%;
    position: relative;
  }

  header .links ul li a::before,
  header .links ul li:last-child a:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    width: calc(100% + 20px * 2);
    border-top: solid 1px #393939;
  }

  header .links ul li:last-child a:after {
    top: auto;
    bottom: 0;
  }
}

header .links ul li a:hover {
  color: var(--yellow);
}

header nav .social-media {
  display: flex;
  align-items: center;
  gap: 20px;
  width: fit-content;
  margin: 24px auto;
}

header nav .social-media i {
  color: var(--white);
  font-size: 18px;
  user-select: none;
  cursor: pointer;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

header nav .social-media i:hover {
  color: var(--yellow);
}