@import "../../Sass/mixins";

.tools {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .tools *:not(.mobileNavIcon) {
    display: none;
  }
}

.tools .searchInputContainer {
  position: relative;
  // width: 200px; 
  margin-right: 20px;
}

.searchInput {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
  padding: 4px 10px;
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  @include prefix(transform, translateY(-50%));
  visibility: hidden;
}

.searchInputContainer i {
  color: var(--white);
  user-select: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  @include prefix(transform, translateY(-50%));
  @include prefix(transition, opacity .3s);

  &:hover {
    opacity: .7;
  }
}

.selectLang {
  color: var(--white);
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  @include prefix(transition, .3s);
}

.global {
  color: var(--yellow);
  user-select: none;
  font-size: 18px;
  position: relative;
}

.global::after {
  content: '';
  position: absolute;
  left: -16px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: #2a2d31;
}

.selectLang nav {
  position: absolute;
  left: -10px;
  top: 24px;
  visibility: hidden;
  opacity: 0;
  @include prefix(transition, opacity .3s);
}

.selectLang.active nav {
  visibility: visible;
  opacity: 1;
}

.selectLang nav ul li a {
  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  padding: 0 10px;
  @include prefix(transition, color .3s);
  display: none;

  &:hover {
    color: var(--yellow);
  }
}

.signInButton {
  margin-left: 20px;
}

.mobileNavIcon {
  color: var(--white);
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  margin-left: 60px;
  display: none;
}

@media (max-width: 1200px) {
  .mobileNavIcon {
    display: block;
  }
}