* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 1000vh;
  overflow-x: hidden;
}

body.overflow {
  overflow: hidden;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #171d21cc;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  visibility: hidden;
  opacity: 0;
}

.overlay.active {
  visibility: visible;
  opacity: 1;
}

:root {
  --white: #fff;
  --yellow: #e2d703;
  --black: #252525;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.container {
  width: 86%;
  margin: 0 auto;
}

@media (max-width: 378px) {
  .container {
    width: 90%;
  }
}

.button-effect {
  background-color: transparent;
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  padding: 10px 44px;
  border-radius: 50px;
  border: solid 2px var(--yellow);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  transition: color 0.3s, background-color 0.3s;
  -webkit-transition: color 0.3s, background-color 0.3s;
  -moz-transition: color 0.3s, background-color 0.3s;
  -ms-transition: color 0.3s, background-color 0.3s;
  -o-transition: color 0.3s, background-color 0.3s;
}

.button-effect:hover {
  color: var(--black);
  background-color: var(--yellow);
}